.title{
  color: #fff;
}
body{
  background-color: black; 
}
.api-link{
  color:white;
}
.navbar{
  background-color: #fff;
}
ul{
  list-style-type: none;
}
.text{
  color: #fff;
}
.footer{
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   text-align: center;
   color: #000;
}
button { 
  border: none; 
}
.light-theme {
  background-color: #cfcfcf;
  color: #fff
}

.green-theme {
  background-color:green;
  color: green; 
}
.blue-theme {
  background-color: blue;
  color: blue;
}
/* Mobile first */

@media (min-width: 400px) and (max-width: 600px) {
  /* html { background: red; } */
  .navbar{
    background-color: blueviolet;
  }
  .title{
    background-color: aqua;
  }
  .footer{
    background-color: red
  }
}
/* Tablets */

@media (min-width: 600px) {
  .navbar{
    background-color: yellowgreen
  }
  .title{
    background-color: pink;
  }
  .footer{
    background-color: lightcoral
  }
}
/* Desktop */

@media(min-width:1200px){
  .navbar{
    background-color: lightblue;
  }
  .title{
    background-color: rebeccapurple;
  }
  .footer{
    background-color: orange
  }
}