.input{
    display: flex;
    justify-content: center;
    /* top: 100px; */
    margin-top: -39%;
}
a{
    text-decoration: none;
}

.proteinContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:200px;
    height:400px;
    background:aliceblue;
    border: solid black;
    margin-top: 99px;
}
.proteinImage{
    position: fixed;
    /* display: flex; */
    /* justify-content: center; */
    width:400px;
    height:250px;
    background:aliceblue;
    border: solid black;
    top:40%;
    left: 32%;
}
.recipe{
    position: fixed;
    width:200px;
    height:400px;
    background:aliceblue;
    border: solid black;
right: 0px;
top: 20%;
margin-top: px;
}
